<!-- Material Input Example  -->
<div class="row">
  <form class="col s12">
    <h5>Angular Material Input Example</h5>
    <mat-form-field class="example-full-width">
      <!-- check the app.component.css for this Input -->
      <input matInput placeholder="Favorite food" value="">
    </mat-form-field>
  </form>
</div>
<!-- Material Input Example Ends -->


<!-- Materialize CSS Input Example -->
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s12">
        <h5>Materialize CSS Input Example</h5>
      </div>
      <div class="input-field col s6">
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
  </form>
</div>
<!-- Materialize CSS Input Example Ends -->



<div class="row">
  <div class="col s12 m6">
    <!-- Materialize CSS Card Example -->
    <h5>Materialize CSS Card Example</h5>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
    <!-- Materialize CSS Card Example Ends -->

    <!-- Angular Material Card Example -->
    <h5>Angular Material Card Example</h5>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <!-- Angular Material Card Example Ends -->
  </div>
</div>

<!-- Materialize CSS Footer Example -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
<!-- Materialize CSS Footer Example Ends -->